html {
     scroll-behavior: smooth;
}

@font-face {
     font-family: 'metropolis';
     src: url('/css/metropolis.otf') format("opentype");
}

@font-face {
     font-family: 'metropolis-semibold';
     src: url('/css/metropolis.semi-bold.otf') format("opentype");
}

* {
     color: #333;
     font-family: 'metropolis';
}

.full-vh {
     height: 100vh;
}

.menu {
     background-color: #000;
     width: 48px;
     height: 48px;
     position: fixed;
     top: 60px;
     right: 30px;
     z-index: 100;
     border-radius: 3px;
     cursor: pointer;
}

.menu-barline {
    height: 2px;
    background-color: #FFF;
    width: 75%;
    margin: 23px auto;
}

.menu-barline:before {
    position: absolute;
    display: block;
    content: '';
    background-color: #FFF;
    height: 3px;
    width: 75%;
    top: 12px;
}

.menu-barline:after {
    position: absolute;
    display: block;
    content: '';
    background-color: #FFF;
    height: 3px;
    width: 75%;
    bottom: 12px;
}

.sidemenu {
     position: fixed;
     top: 0;
     right: -280px;
     width: 280px;
     height: 100vh;
     background-color: #0c0c0c;
     padding: 3.6rem 3rem 3.6rem 3.6rem;
     z-index: 900;
     transition: all 0.5s ease;
}



#sidemenu-flag:checked ~ .sidemenu {
     right: 0;
}

.sidemenu-list li {
     border-top: 1px solid rgba(255, 255, 255, 0.25);
     line-height: 4.8rem;
     position: relative;
     padding-left: 0.4rem;
     display: list-item;
     font-size: 1.6rem;
     color: #FFF;
}

.sidemenu-list {
     list-style: none;
     padding: 0;
     margin: 0;
}

.sidemenu-list li a {
     color: #FFF;
}

.sidemenu h3 {
     font-size: 13px;
     line-height: 1.363;
     text-transform: uppercase;
     letter-spacing: 0.25rem;
     margin-bottom: 4.8rem;
     margin-top: 0.9rem;
     color: #cc147f;
}

.sidemenu-close {
     z-index: 800;
     display: block;
     background-color: rgba(0, 0, 0, 0.3);
     height: 30px;
     width: 30px;
     border-radius: 3px;
     position: absolute;
     top: 72px;
     right: 30px;
     font: 0/0 a;
     text-shadow: none;
     color: transparent;
     cursor: pointer;
}


.sidemenu-close:before {
     content: "";
     display: block;
     height: 2px;
     width: 12px;
     background-color: #ffffff;
     position: absolute;
     top: 50%;
     left: 9px;
     margin-top: -1px;
     transform: rotate(-45deg);
}

.sidemenu-close:after {
     content: "";
     display: block;
     height: 2px;
     width: 12px;
     background-color: #ffffff;
     position: absolute;
     top: 50%;
     left: 9px;
     margin-top: -1px;
     transform: rotate(45deg);
}

.headline {
     background-color: rgba(0,0,0,0.85);
     background-image: url(/images/computer.jpg);
     background-position: center;
     background-clip: border-box;
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
}

.contact {
     background-color: rgba(0,0,0,0.85);
     color: #FFF;
}

.about {
     background-color: #FFF;
}

.works {
     background-color: #f1f1f1;
}

.container {
     padding-top: 80px;
}

.container-title {
     margin: 80px auto 30px;
     color: #FFF;
     text-align: right;
}

.container-title span {
     font-size: 30px;
     color: #FFF;
}

.container-subtitle {
     color: rgba(255,255,255,0.75);
     text-align: right;
}

.subhead {
     font-size: 1.6rem;
     line-height: 1.3125;
     text-transform: uppercase;
     letter-spacing: 0.25rem;
     color: #cc147f;
     margin-top: 0;
     margin-bottom: 2.1rem;
}

.subhead::before {
    content: "/ ";
}

.subhead-shortdesc {
    font-size: 2.4rem;
    letter-spacing: -0.03rem;
    color: #333;
    margin-bottom: 33px;
}

.contact .subhead-shortdesc {
     color: #FFF;
}

section {
     position: relative;
}

.subhead-longdesc {
    font-size: 1.4rem;
    letter-spacing: -0.03rem;
    color: #333;
}

.subhead-email {
     margin-top: 5.6rem;
     position: relative;
}

.subhead-email span {
    font-size: 3.6rem;
    line-height: 1.222;
    color: #FFF;
}

.subhead-email a:hover {
     text-decoration: none;
}

.subhead-email span:before {
     content: "";
     display: block;
     height: 1px;
     width: 60px;
     background-color: #cc147f;
     position: absolute;
     top: 0;
     left: 0;
}

.subhead-phone {
     font-size: 2.4rem;
     line-height: 1;
     color: rgba(255, 255, 255, 0.3);
}

.followme {
    position: absolute;
    bottom: 30px;
}

.followme-title {
     padding-right: 4rem;
     margin-right: 0.8rem;
     font-size: 16px;
     float: left;
     height: 49px;
     line-height: 49px;
     font-family: 'metropolis-semibold';
     color: #FFF;
}

.followme-item a {
     display: block;
     color: #ffffff;
     border-bottom: 1px solid transparent;
     -webkit-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
     font-size: 16px;
     float: left;
     margin: 0 0.6rem;
     padding-left: 0.4rem;
     height: 49px;
     line-height: 49px;
     text-decoration: none;
     font-family: 'metropolis-semibold';
}

.followme-copyright {
     display: block;
     color: rgba(255, 255, 255, 0.3);
     border-bottom: 1px solid transparent;
     -webkit-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
     font-size: 16px;
     float: right;
     margin: 0 0.6rem;
     padding-left: 0.4rem;
     height: 49px;
     line-height: 49px;
     text-decoration: none;
     font-family: 'metropolis-semibold';
}

.followme-item a:hover {
     border-bottom: solid 1px #FFF;
}

.sticky {
    position: fixed;
    z-index: 900;
    top: 5px;
    left: 0;
    width: 280px;
    height: 160px;
    background-image: url('/images/synthwave.png');
    background-size: contain;
    background-position: center;
    transition: all 0.5s ease;
    background-repeat: no-repeat;
}

.sticky-minify {
     width: 220px;
     height: 120px;
}

.aboutme, .aboutme b {
    color: #333;
    line-height: 2;
    font-size: 16px;
}

.aboutme a, .aboutme a:hover {
     color: #cc147f;
}

.tag {
    display: inline-block;
    background-color: #000;
    padding: 3px 5px;
    border-radius: 15px;
    padding: 2px 12px;
    margin: 5px 5px 7px 0;
    line-height: 2;
    color: #FFF;
}

.tag:hover {
     text-decoration: none;
     color: #FFF;
}

.tag.blue {
     background-color: #007bff;
}

.tag.indigo {
     background-color: #6610f2;
}

.tag.purple {
     background-color: #6f42c1;
}

.tag.pink {
     background-color: #e83e8c;
}

.tag.red {
     background-color: #dc3545;
}

.tag.orange {
     background-color: #fd7e14;
}

.tag.yellow {
     background-color: #ffc107;
}

.tag.green {
     background-color: #28a745;
}

.tag.teal {
     background-color: #20c997;
}

.tag.cyan {
     background-color: #17a2b8;
}

.tag.gray {
     background-color: #6c757d;
}

.tag.gray-dark {
     background-color: #343a40;
}

.aboutme-pic img {
     max-height: 480px;
}

@media (min-width: 768px) {
     .aboutme, .aboutme b {
          font-size: 24px;
     }
     .tag {
          font-size: 20px;
     }
     .card-title {
          font-size: 1.8rem;
     }
     .card-text {
          font-size: 1.25rem;
     }
     .followme-item a, .followme-title{
          font-size: 24px;
     }
}
